@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat:ital,wght@1,100..900&display=swap');
/* Stephen Carey */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root styles */
:root {
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --dk-gray: #222222;
    --lt-gray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
    --head-font: "Molle", "Times New Roman", serif;
    --body-font: "Montserrat", "Times New Roman", serif;
    font-size: 16px;
}

* {
    box-sizing:border-box;
}

/* skip link */
#skip{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip:focus{
    position: static;
    width: auto;
    height: auto;
}

/* Hidden Styles */
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Body Styles */
body {
    font-family: var(--body-font);
    color: var(--dk-gray);
    line-height: 1.4;
}

/* Header Styles */
header {
    background: linear-gradient(to bottom, var(--teal), rgba(255,255,255,1));
    width: 100%;
    padding-top: .5rem;
}

header img {
    width: 30%;
} 

header h1 {
    padding: 0 7.5%;
}

header p {
    padding: 0 7.5%;
}

/*menu*/
ul {
    position: absolute;
    right: 10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#menu-toggle > label {
    display: block;
    position: absolute;
    right: 0;
    top: 1rem;
    background-color: var(--yellow);
    text-align: center;
    width: 40%;
    padding: 5px 30px;
    z-index: 2;
}

#menu-toggle > input {
    position: absolute;
    right: 10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#menu-toggle > input:checked ~ ul {
    position: absolute;
    right: 0;
    top: 30px;
    width: 100%;
    height: auto;
    background-color: var(--teal);
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
}

#menu-toggle > input:checked ~ ul li {
    width: 100%;
}

#menu-toggle > input:checked ~ ul a {
    display: block;
    width: 100%;
    border-top: 2px solid var(--black);
    align-self: center;
    text-align: center;
    padding: 30px 0;
    color: var(--dk-gray);
    text-decoration: none;
}

#menu-toggle > input:checked + label {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--black);
    text-align: center;
    padding: 5px 0;
    z-index: 2;
    color:var(--lt-gray);
    width: 100%;
}




img {
    width: 100%;
}

h1, h2, h3 {
    font-size: 2rem;
    font-family: var(--head-font);
    padding: 7.5% 7.5% 0 7.5%;
}

h4, p, q, small, nav, button, form {
    font-size: 1.1rem;
    font-family: var(--body-font);
}

#intro p {
    padding: 0 7.5%;
}

#img-grid {
    display: grid;
    gap: .75rem;
}


/* Plan */
#plan {
    background-color: var(--yellow);
    padding-bottom: 1rem;
}

#plan > div {
    display: grid;
    gap: .75rem;
    width: 85%;
    margin: 0 auto;
}

#plan section {
    background-color: var(--teal);
    text-align: center;
    padding: .5rem;
    border-radius: 5px;
    border: 2px solid var(--white);
}

h4 {
    font-weight: bold;
    padding: .5rem 0;
}

#plan img {
    max-width: 70%;
    max-height: 70%;
}

/* testimonials */
#testimonials > div {
    display: grid;
    gap: .75rem;
    width: 85%;
    margin: 0 auto;
}

#testimonials section {
    text-align: center;
}

#testimonials img {
    width: 70%;
}

#testimonials h4 {
    text-transform: uppercase;
    font-size: 1.3em;
}

#testimonials q {
    font-style: italic;
}

#testimonials q::before, #testimonials q::after {
    content:"\""
}


/* about */
#about {
    background-color: var(--blue);
    padding-bottom: 1rem;
}

#about div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .75rem;
    width: 85%;
    margin: 0 auto;
}

#about section {
    text-align: center;
}

#about img {
    height: 90px;
}

form {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

label, input, select, input::placeholder {
    display: block;
    width: 100%;
    font-family: var(--body-font);
    color: var(--black);
}

input, select {
    border: 2px solid var(--purple);
    padding: 15px 5px;
}

fieldset {
    display: flex;
    flex-direction: column;
}

fieldset label, fieldset input {
    display: inline-flex;
}

[type="submit"] {
    background-color: var(--purple);
    color: var(--white);
    text-transform: uppercase;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--lt-gray);
}

footer p, footer a {
    font-size: .8rem;
    text-decoration: none;
    color: var(--black);
}

/*
#logo img{
    width: 40%;
    max-width: 200px;
}

ul {
    position: absolute;
    right: 10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#menu-toggle > label {
    display: block;
    position: absolute;
    right: 0;
    top: 1.9rem;
    background-color: var(--yellow);
    text-align: center;
    padding: 5px 50px;
    z-index: 2;
}

#menu-toggle > input {
    position: absolute;
    right: 10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#menu-toggle > input:checked ~ ul {
    position: absolute;
    right: 0;
    top: 30px;
    width: 100%;
    height: auto;
    background-color: var(--teal);
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
}

#menu-toggle > input:checked ~ ul li {
    width: 100%;
}

#menu-toggle > input:checked ~ ul a {
    display: block;
    width: 100%;
    border-top: 2px solid var(--black);
    align-self: center;
    text-align: center;
    padding: 30px 0;
    color: var(--dk-gray);
    text-decoration: none;
}

#menu-toggle > input:checked + label {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--black);
    text-align: center;
    padding: 5px 0;
    z-index: 2;
    color:var(--lt-gray);
    width: 100%;
}

h1 {
    padding: .2rem 1rem 0 1rem;
}

header p {
    padding: 0 1rem 1rem 1rem;
}






h1, h2, h3 {
    font-size: 2rem;
    font-family: var(--head-font);
}

h4, p, q, small, nav, button, form {
    font-size: 1.1rem;
    font-family: var(--body-font);
}

img{
    max-width: 100%;
}








#intro {
    margin-bottom: 1rem;
}

main h2 {
    padding: 1rem 1rem 0 1rem;
}

#intro p {
    padding: 0 1rem 1rem 1rem;
}

#img-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
}

#img-grid img, #img-grid picture {
    width: 100%;
    height: auto;
}










#plan {
    background-color: var(--yellow);
    padding: 1rem;
}

#plan h3 {
    margin-bottom: .5rem;
}

#plan div {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    gap:.8rem;
}

#plan section {
    background-color: var(--teal);
    width: 100%;
    height: 100%;
    border: 2px solid var(--white);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#plan h4 {
    padding: 1rem;
    font-weight: bold;
}

#plan a {
    padding: 1rem;
    width: calc(100% - 2rem);
    display: flex;
    justify-content: center;
}
#plan img {
    width: 70%;
}










#testimonials {
    padding: 1rem;
}

#testimonials div {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
}

#testimonials section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#testimonials img {
    width: 60%;
}

#testimonials h4 {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: .3rem;
}

#testimonials p , #testimonials q {
    font-size: .8em;
    text-align: center;
    max-width: 70%;
}

#testimonials q {
    font-style: italic;
}

#testimonials q::before, #testimonials q::after  {
    content:"\""
}









#about {
    background-color: var(--blue);
    padding: 1rem;
}

#about div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: .5rem;
    align-items: start;
}

#about section {
    text-align: center;
}

#about section img {
    height: 100px;
}

#about h4 {
    font-weight: bold;
    margin-top: .3rem;
}

#about p {
    text-align: center;
}












#contact {
    padding: 1rem;
}

.required {
    color: var(--purple)
}

#contact .form-required {
    font-family: var(--body-font);
    font-size: 1rem;
}
form, #names {
    width: 100%;
}

input::placeholder {
    font-family: var(--body-font);
    font-size: 1rem;
    color: var(--black);
}

#contact label, #contact input {
    display: block;
    width: 100%;
}

#names, #contact legend, #nums > label {
    font-weight: bold;
}

#contact input, select {
    padding: 1rem .5rem;
    width: calc(100% - 1rem);
    border: 2px solid var(--purple);
    margin-bottom: 1rem;
}

input::placeholder {
    font-size: 1.1em;
}





#contact input[type="radio"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: var(--purple);
    width: 3em;
    height: 2.9em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

#contact .radio-control {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    margin-top: .2em;
}

#contact input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
  }

  #contact input[type="radio"]:checked::before {
    transform: scale(1);
  }

  #contact input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: 0.5em;
    background-color: var(--purple);
    width: 2em;
    height: 1.6em;
    margin-top: 9px;
    margin-left: 8px;
}

.radio-input {
    display: inline-block;
    width: 20%;
    margin: 15px 0;
}





#selects > label {
    font-weight: bold;
}

#selects select {
    appearance: none;
    width: 100%;
    font-family: var(--body-font);
    font-size: 1rem;
}

#selects option {
    font-family: var(--body-font);
}

.custom-select {
    position: relative;
}

.custom-select::after {
    position: absolute;
    content: "";
    right: 2rem;
    border-bottom: 2px solid var(--purple);
    border-right: 2px solid var(--purple);
    display: inline-block;
    padding: 3px;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
}

#selects option {
    font-family: var(--body-font);
}

#selects [type=submit] {
    display: block;
    background-color: var(--purple);
    width: 100%;
    color: var(--lt-gray);
    font-family: var(--body-font);
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
}

footer {
    background-color: var(--lt-gray);
    text-align: center;
}

footer a, footer p {
    font-size: .9rem;
    padding: .5rem;
    display: block;
    text-decoration: none;
    color: var(--black);
}

@media screen and (min-width: 600px) {
    header, main, footer {
        padding: 1rem;
    }

    header > a {
        display: inline;
        width: 25%;
    }

    #logo img {
        display: inline;

    }

    header h1 {
        display: inline-block;
        width: 60%;
    }

    header > p {
        display: inline-block;
        
    }

    header ul {
        position: relative;
        right: auto;
        top: auto;
        width: calc(100% - 1rem);
        height: auto;
        overflow:auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: .5rem;
        padding: 1rem;
    }

    header li {
        background-color: var(--white);
        padding: 1rem;
        font-size: .8rem;
        text-transform: uppercase;
        flex: 1 1 25%;
        text-align: center;

    }

    header a {
        text-decoration: none;
        color: var(--black);
    }

    #menu-toggle > label {
        display: none;
    }
}*/