@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat:ital,wght@1,100..900&display=swap');
/* Stephen Carey */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root styles */
:root {
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --dk-gray: #222222;
    --lt-gray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
    --head-font: "Molle", "Times New Roman", serif;
    --body-font: "Montserrat", "Times New Roman", serif;
    font-size: 16px;
}

* {
    box-sizing:border-box;
}

/* skip link */
#skip{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip:focus{
    position: static;
    width: auto;
    height: auto;
}

/* Hidden Styles */
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Body Styles */
body {
    font-family: var(--body-font);
    color: var(--dk-gray);
    line-height: 1.4;
}

/* Header Styles */
header {
    background: linear-gradient(to bottom, var(--teal), rgba(255,255,255,1));
    width: 100%;
    padding-top: .5rem;
}

header img {
    width: 30%;
} 

header h1 {
    padding: 0 7.5%;
}

header p {
    padding: 0 7.5%;
}

/*menu*/
ul {
    position: absolute;
    right: 10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#menu-toggle > label {
    display: block;
    position: absolute;
    right: 0;
    top: 1rem;
    background-color: var(--yellow);
    text-align: center;
    width: 40%;
    padding: 5px 30px;
    z-index: 2;
}

#menu-toggle > input {
    position: absolute;
    right: 10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#menu-toggle > input:checked ~ ul {
    position: absolute;
    right: 0;
    top: 30px;
    width: 100%;
    height: auto;
    background-color: var(--teal);
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
}

#menu-toggle > input:checked ~ ul li {
    width: 100%;
}

#menu-toggle > input:checked ~ ul a {
    display: block;
    width: 100%;
    border-top: 2px solid var(--black);
    align-self: center;
    text-align: center;
    padding: 30px 0;
    color: var(--dk-gray);
    text-decoration: none;
}

#menu-toggle > input:checked + label {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--black);
    text-align: center;
    padding: 5px 0;
    z-index: 2;
    color:var(--lt-gray);
    width: 100%;
}




img {
    width: 100%;
}

h1, h2, h3 {
    font-size: 2rem;
    font-family: var(--head-font);
    padding: 7.5% 7.5% 0 7.5%;
}

h4, p, q, small, nav, button, form {
    font-size: 1.1rem;
    font-family: var(--body-font);
}

#intro p {
    padding: 0 7.5% 1rem 7.5%;
}

#img-grid {
    display: grid;
    gap: .75rem;
}


/* Plan */
#plan {
    background-color: var(--yellow);
    padding-bottom: 1rem;
}

#plan h3 {
    padding-bottom: 1rem;
}

#plan > div {
    display: grid;
    gap: .75rem;
    width: 85%;
    margin: 0 auto;
}

#plan section {
    background-color: var(--teal);
    text-align: center;
    padding: .5rem;
    border-radius: 5px;
    border: 2px solid var(--white);
}

#plan a {
    display: block;
    width: 100%;
}

h4 {
    font-weight: bold;
    padding: .5rem 0;
}

#plan img {
    padding-top: 1rem;
    max-width: 70%;
    max-height: 70%;
}

/* testimonials */
#testimonials > div {
    display: grid;
    gap: .75rem;
    width: 85%;
    margin: 0 auto;
}

#testimonials section {
    text-align: center;
}

#testimonials img {
    width: 70%;
}

#testimonials h4 {
    text-transform: uppercase;
    font-size: 1.3em;
}

#testimonials q {
    font-style: italic;
}

#testimonials q::before, #testimonials q::after {
    content:"\""
}


/* about */
#about {
    background-color: var(--blue);
    padding-bottom: 1rem;
}

#about div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .75rem;
    width: 85%;
    margin: 0 auto;
}

#about section {
    text-align: center;
}

#about img {
    height: 90px;
}

/* contact */
form {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.form-required {
    font-family: var(--body-font);
    font-size: 1rem;
    font-style: italic;
}

.required {
    color: var(--purple);
}

label, input, select, input::placeholder {
    display: block;
    width: 100%;
    font-family: var(--body-font);
    color: var(--black);
}

input, select {
    border: 2px solid var(--purple);
    padding: 15px 5px;
}

input, .custom-select {
    margin-bottom: 1rem;
}

label, legend {
    font-weight: bold;
}

fieldset label {
    font-weight: 400;
}

fieldset {
    display: flex;
    flex-direction: column;
}

fieldset label, fieldset input {
    display: inline-flex;
}

[type="submit"] {
    background-color: var(--purple);
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
}

input::placeholder, select {
    font-family: var(--body-font);
    font-size: 1rem;
}

/* radio */
fieldset label {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.radio-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.radio-input input {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--white);
    border: none;
    margin: 0;
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.radio-control {
    width: 3.2em;
    height: 3.2em;
    border-radius: 50%;
    border: 2px solid var(--purple);
    position: absolute;
    z-index: -1;
  }

.radio-input input:checked {
    background-color: var(--purple);
}

/* dropdown */
select {
    appearance: none;
}

.custom-select {
    display: flex;
    align-items: center;
}

.focus {
    position: absolute;
    border-bottom: 2px solid var(--purple);
    border-right: 2px solid var(--purple);
    display: inline-block;
    padding: 3px;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    right: 15%;
    margin-bottom: .5rem;
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--lt-gray);
    padding: 1rem;
}

footer p, footer a {
    font-size: .8rem;
    text-decoration: none;
    color: var(--black);
}

footer p {
    padding: 0 1rem 1rem 1rem;
}

footer a {
    padding: .5rem;
}

/* focus */
a:focus, input:focus, select:focus, .radio-input input:focus + span {
    outline: 3px solid var(--yellow);
}

#menu-toggle a:focus {
    border-bottom: 4px solid var(--yellow);
    outline: none;
}

.radio-input input:focus {
    outline: none;
}

/* hover */
@media (hover:hover) {
    #menu-toggle a:hover {
        background-color: var(--white);
    }

    #menu-toggle label:hover {
        cursor: pointer;
        background-color: var(--dk-gray);
        color: var(--blue);
    }

    #plan a:hover {
        background-color: var(--dk-gray);
    } 

    #contact input:hover, select:hover {
        border-color: var(--blue);
    }

    #contact input[type=submit]:hover {
        color: var(--black);
    }

    footer a:hover {
        color: var(--blue);
    }
}

#contact input[type="email"]:valid, [type="tel"]:valid  {
    background-color: lightgreen;
}

@media screen and (min-width: 31.26rem) {
    header {
        display: grid;
        grid-template-columns: 30% 70%;
        padding: 1rem;

        }
    
    header a {
        grid-row: span 2;
    }
    
    header img {
        width: 100%;
    }

    header nav {
        grid-column: span 2;
    }

    ul {
        width: 100%;
        padding: 1rem 7.5% 0 7.5%;
        position: relative;
        right: auto;
        top: auto;
        width: auto;
        height: auto;
        overflow: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
    
    #menu-toggle > label, #menu-toggle > input {
        display: none;
    }

    nav li {
        flex: 1 1 100%;
    }

    nav a {
    display: block;
    background-color: var(--white);
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    }



    #img-grid {
        grid-template-columns: 1fr 1fr;
        padding: 0 7.5% .5rem 7.5%;
    }

    #img-grid picture {
        grid-column: span 2;
    }



    #plan div {
        grid-template-columns: 1fr 1fr;
    }

    #testimonials {
        padding-bottom: 1rem;
    }

    #testimonials div {
        grid-template-columns: 1fr 1fr;
    }

    #about div {
        grid-template-columns: repeat(4,1fr);
        padding-top: .5rem;
    }

    fieldset {
        flex-direction: row;
    }

    footer {
        flex-direction: row;
    }

    footer p, footer a {
        padding: .5rem;
    }
}

@media screen and (min-width: 60rem) {
    header {
        grid-template-columns: 20% 40% 40%;
        grid-template-rows: auto auto 1fr;
        padding: 0;
    }

    header a {
        grid-row: 2 / 4;
    }

    h1 {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    header p {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }

    header nav {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
    }

    header ul {
        padding: 0;
        gap: .5rem;
    }

    nav a {
        height: 2.5rem;
    }


    #intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        padding: 3rem 0;
        width: 85%;
        margin: 0 auto;
        column-gap: 2rem;
    }

    #img-grid {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
        padding: 0;
    }

    #intro p, #intro h2 {
        padding: 0;
    }

    #intro p {
        max-width: 60ch;
    }

    #plan {
        padding-bottom: 3rem;
    }

    #plan div {
        grid-template-columns: repeat(4, 1fr);
    }


    #testimonials {
        padding-bottom: 3rem;
    }

    #testimonials div {
        grid-template-columns: repeat(4, 1fr);
    }

    #about {
        padding-bottom: 3rem;
    }

    #about div {
        width: 70%;
        justify-content: center;
    }

    form {
        flex-direction: row;
        gap: 1rem;
    }

    #names, #nums, #selects {
        flex: 1 1 33.3%;
    }

    .focus {
        right: 10%;
    }

    fieldset label {
        gap: .5rem;
    }

    .radio-label {
        font-size: .8rem;
    }

    .radio-control {
        width: 2.5rem;
        height: 2.5rem;
    }

    .radio-input input {
        width: 2rem;
        height: 2rem;
    }

    input[type=submit] {
        width: 50%;
        margin-left: auto;
    }

    footer {
        justify-content: flex-end;
    }

    footer p {
        padding-left: 4rem;
        margin-right: auto;
    }

    footer a {
        padding-right: 4rem;

    }
}